.gridx {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  background-image: linear-gradient(to right, #0f0f10 1px, transparent 1px),
    linear-gradient(to bottom, #0f0f10 1px, transparent 1px);
  background-size: 1rem 1rem;
  background-position: center center;
  z-index: -1;
  filter: blur(1px);
}
.customButton .whitex,
.customButton .borderx,
.customButton .darkBorderBg,
.customButton .glow {
  max-height: 70px;
  max-width: 314px;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  /* Border Radius */
  border-radius: 12px;
  filter: blur(3px);
}
.customButton .inputx {
  background-color: #010201;
  border: none;
  /* padding:7px; */
  width: 500px;
  height: 56px;
  border-radius: 10px;
  color: white;
  padding-inline: 20px;
  /* font-size: 18px; */
  border: 1px solid #69696967;
  outline: none !important;
}

.customButton #poda {
  display: flex;
  align-items: center;
  justify-content: center;
}
.customButton .inputx::placeholder {
  color: #aeaeae92;
}

.customButton .inputx:focus {
  outline: none !important;
}

.customButton #main > #input-mask {
  display: none;
}

.customButton #input-mask {
  pointer-events: none;
  width: 100px;
  height: 20px;
  position: absolute;
  background: linear-gradient(90deg, transparent, black);
  top: 18px;
  left: 70px;
}
.customButton #pink-mask {
  pointer-events: none;
  width: 30px;
  height: 20px;
  position: absolute;
  background: #cf30aa;
  top: 10px;
  left: 5px;
  filter: blur(20px);
  opacity: 0.8;
  animation: leftright 4s ease-in infinite;
  transition: all 2s;
}
.customButton #main:hover > #pink-mask {
  animation: rotate 4s linear infinite;
  opacity: 0;
}

.customButton .whitex {
  max-height: 63px;
  max-width: 500px;
  border-radius: 10px;
  filter: blur(2px);
}

.customButton .whitex::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(83deg);
  position: absolute;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 0 0;
  filter: brightness(1.4);
  background-image: conic-gradient(
    rgba(0, 0, 0, 0) 0%,
    #a099d8,
    rgba(0, 0, 0, 0) 8%,
    rgba(0, 0, 0, 0) 50%,
    #dfa2da,
    rgba(0, 0, 0, 0) 58%
  );
  animation: rotate 4s linear infinite;
  transition: all 2s;
}
.customButton .borderx {
  max-height: 59px;
  max-width: 500px;
  border-radius: 11px;
  filter: blur(0.5px);
}
.customButton .borderx::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(70deg);
  position: absolute;
  width: 600px;
  height: 600px;
  filter: brightness(1.3);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    #1c191c,
    #402fb5 5%,
    #1c191c 14%,
    #1c191c 50%,
    #cf30aa 60%,
    #1c191c 64%
  );
  animation: rotate 4s 0.1s linear infinite;
  transition: all 2s;
}
.customButton .darkBorderBg {
  max-height: 65px;
  max-width: 500px;
}
.customButton .darkBorderBg::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(82deg);
  position: absolute;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    rgba(0, 0, 0, 0),
    #18116a,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0) 50%,
    #6e1b60,
    rgba(0, 0, 0, 0) 60%
  );
  transition: all 2s;
}
.customButton #poda:hover > .darkBorderBg::before {
  transform: translate(-50%, -50%) rotate(262deg);
}
.customButton #poda:hover > .glow::before {
  transform: translate(-50%, -50%) rotate(240deg);
}
.customButton #poda:hover > .whitex::before {
  transform: translate(-50%, -50%) rotate(263deg);
}
.customButton #poda:hover > .borderx::before {
  transform: translate(-50%, -50%) rotate(250deg);
}

.customButton #poda:hover > .darkBorderBg::before {
  transform: translate(-50%, -50%) rotate(-98deg);
}
.customButton #poda:hover > .glow::before {
  transform: translate(-50%, -50%) rotate(-120deg);
}
.customButton #poda:hover > .whitex::before {
  transform: translate(-50%, -50%) rotate(-97deg);
}
.customButton #poda:hover > .borderx::before {
  transform: translate(-50%, -50%) rotate(-110deg);
}

.customButton #poda:focus-within > .darkBorderBg::before {
  transform: translate(-50%, -50%) rotate(442deg);
  transition: all 4s;
}
.customButton #poda:focus-within > .glow::before {
  transform: translate(-50%, -50%) rotate(420deg);
  transition: all 4s;
}
.customButton #poda:focus-within > .whitex::before {
  transform: translate(-50%, -50%) rotate(443deg);
  transition: all 4s;
}
.customButton #poda:focus-within > .borderx::before {
  transform: translate(-50%, -50%) rotate(430deg);
  transition: all 4s;
}

.customButton .glow {
  overflow: hidden;
  filter: blur(30px);
  opacity: 0.4;
  max-height: 130px;
  max-width: 500px;
}
.customButton .glow:before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(60deg);
    position: absolute;
    width: 999px;
    height: 999px;
    background-repeat: no-repeat;
    background-position: 0 0;
    /* Border color, change middle color */
    background-image: conic-gradient(
      #000,
      #402fb5 5%,
      #000 38%,
      #000 50%,
      #cf30aa 60%,
      #000 87%
    );
    /* Smoother animation */
    animation: rotate 6s linear infinite;
    /* Smoother transition */
    transition: all 0.5s ease-in-out;
  }
  
  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
@keyframes leftright {
  0% {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  49% {
    transform: translate(250px, 0px);
    opacity: 0;
  }
  80% {
    transform: translate(-40px, 0px);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

.customButton #filter-icon {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  max-height: 40px;
  max-width: 38px;
  height: 100%;
  width: 100%;

  isolation: isolate;
  overflow: hidden;
  /* Border Radius */
  border-radius: 10px;
  background: linear-gradient(180deg, #161329, black, #1d1b4b);
  border: 1px solid transparent;
}
.customButton .filterBorder {
  height: 42px;
  width: 40px;
  position: absolute;
  overflow: hidden;
  top: 7px;
  right: 7px;
  border-radius: 10px;
}

.customButton .filterBorder::before {
  content: "";

  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  position: absolute;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 0 0;
  filter: brightness(1.35);
  background-image: conic-gradient(
    rgba(0, 0, 0, 0),
    #3d3a4f,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 50%,
    #3d3a4f,
    rgba(0, 0, 0, 0) 100%
  );
  animation: rotate 4s linear infinite;
}
.customButton #main {
  position: relative;
}
.customButton #search-icon {
  position: absolute;
  left: 20px;
  top: 15px;
}


@media screen and (max-width: 600px) {
    .customButton .inputx {
        width: 350px;
        font-size: 12px;
    }
    .customButton .whitex{
        width: 350px;
    }
    .customButton .borderx{
        width: 350px;
    }
    .customButton .darkBorderBg {
        max-width: 350px;
      }
    .customButton .glow{
        width: 350px;
    }
  }